.corner-left, .corner-right {
    background-color: transparent;
}

.corner {
    padding: 25px;
    border-radius: 100%;

    &.left {
        box-shadow: -22px -22px 0 0 $bg0;
    }

    &.right {
        box-shadow: 22px -22px 0 0 $bg0;
    }
}

