// Helper styles
@import "colors.scss";

.launcher-btn {
    margin: -45px 0px -45px 0px;
    font-size: 50px;

    &:hover {
        color: rgba($foreground, 0.75);
        margin: -45px 0px -45px 0px;
        font-size: 45px;
    }

    .launcher-icon {
        color: inherit;
        margin: inherit;
        font-size: inherit;
    }
}

