// Helper styles
@import "colors.scss";

.workspace-txt {
    padding: 5px;
    background-color: rgba($gray, 0.2);
}

.workspace-txt-active {
    background-color: $orange;
}

.workspace-txt-inactive {
    color: $gray;
    background-color: $background;
}

.workspace-txt-left {
    border-radius: 5px 0px 0px 5px;
}

.workspace-txt-middle {
}

.workspace-txt-right {
    border-radius: 0px 5px 5px 0px;
}

.workspace-txt-alone {
    border-radius: 5px;
}

