.bar {
    color: $fg0;
    background-color: $bg0;

    padding: 5px;

    font-size: 15px;
    font-weight: normal;
    font-family: "IosevkaJ0ng4b Nerd Font Mono";
}

.bar-component {
    border-radius: 5px;

    &:hover {
        background-color: $bg2;
    }

    & > box {
        padding: 2px 10px;
    }
}

