.calendar {
    color: $fg0;
    border-radius: 10px;
    background-color: $bg0;
    padding: 5px;

    .calendar-header {
        border-radius: 8px 8px 0px 0px;
        background-color: $bg2;

        .calendar-month {
            font-size: 18px;
            font-weight: bold;
            color: $yellow;
            padding: 16px 16px 8px;
        }

        .calendar-day-names {
            font-weight: bold;
            font-size: 14px;
            color: $yellow;
            padding: 5px 5px;
        }
    }

    calendar {
        box-shadow: inset 0px 8px 5px -10px $bg0;
        border-radius: 0px 0px 8px 8px;
        border-color: $bg1;
        font-weight: bold;
        color: $fg0;
        background-color: $bg1;
        padding: 0.2em;

        &:selected {
            box-shadow: none;
            color: $yellow;
        }

        &:indeterminate {
            font-weight: normal;
            color: $dark_grey;
        }
    }
}
