//=//=//   ╔═╗┌─┐┬  ┌─┐┬─┐┌─┐
//=//=//   ║  │ ││  │ │├┬┘└─┐
//=//=//   ╚═╝└─┘┴─┘└─┘┴└─└─┘

// Background
$background: #111318;
$on-background: #e2e2e9;

// On
//=// Primary
$on-primary: #102f60;
$on-primary-container: #d8e2ff;
$on-primary-fixed: #001a41;
$on-primary-fixed-variant: #2b4678;

//=// Secondary
$on-secondary: #293041;
$on-secondary-container: #dbe2f9;
$on-secondary-fixed: #141b2c;
$on-secondary-fixed-variant: #3f4759;

//=// Tertiary
$on-tertiary: #402843;
$on-tertiary-container: #fbd7fc;
$on-tertiary-fixed: #29132d;
$on-tertiary-fixed-variant: #583e5b;

//=// Surface
$on-surface: #e2e2e9;
$on-surface-variant: #c4c6d0;

//=// Error
$on-error: #690005;
$on-error-container: #ffdad6;

// Primary
$primary: #adc6ff;
$primary-container: #2b4678;
$primary-fixed: #d8e2ff;
$primary-fixed-dim: #adc6ff;

// Secondary
$secondary: #bfc6dc;
$secondary-container: #bfc6dc;
$secondary-fixed: #dbe2f9;
$secondary-fixed-dim: #bfc6dc;

// Tertiary
$tertiary: #debcdf;
$tertiary-container: #583e5b;
$tertiary-fixed: #fbd7fc;
$tertiary-fixed-dim: #debcdf;

// Surface
$surface: #111318;
$surface-bright: #37393e;
$surface-container: #1e1f25;
$surface-container-high: #282a2f;
$surface-container-highest: #33353a;
$surface-container-low: #1a1b20;
$surface-container-lowest: #0c0e13;
$surface-dim: #111318;
$surface-variant: #44474f;

// Error
$error: #ffb4ab;
$error-container: #93000a;

// Outline
$outline: #8e9099;
$outline-variant: #44474f;

// Inverse
$inverse-primary: #445e91;
$inverse-surface: #e2e2e9;
$inverse-on-surface: #2f3036;

// Others
$shadow: #000000;
$scrim: #000000;
$source-color: #4285f4;

