//=//=//   ╔═╗┌─┐┬  ┌─┐┬─┐┌─┐
//=//=//   ║  │ ││  │ │├┬┘└─┐
//=//=//   ╚═╝└─┘┴─┘└─┘┴└─└─┘

// Background
$background: #0f1512;
$on-background: #dee4df;

// On
//=// Primary
$on-primary: #003827;
$on-primary-container: #a7f2d0;
$on-primary-fixed: #002115;
$on-primary-fixed-variant: #00513a;

//=// Secondary
$on-secondary: #1f352b;
$on-secondary-container: #cfe9da;
$on-secondary-fixed: #092017;
$on-secondary-fixed-variant: #354b41;

//=// Tertiary
$on-tertiary: #093544;
$on-tertiary-container: #c2e8fc;
$on-tertiary-fixed: #001f2a;
$on-tertiary-fixed-variant: #254b5b;

//=// Surface
$on-surface: #dee4df;
$on-surface-variant: #bfc9c2;

//=// Error
$on-error: #690005;
$on-error-container: #ffdad6;

// Primary
$primary: #8bd5b5;
$primary-container: #00513a;
$primary-fixed: #a7f2d0;
$primary-fixed-dim: #8bd5b5;

// Secondary
$secondary: #b3ccbe;
$secondary-container: #b3ccbe;
$secondary-fixed: #cfe9da;
$secondary-fixed-dim: #b3ccbe;

// Tertiary
$tertiary: #a6ccdf;
$tertiary-container: #254b5b;
$tertiary-fixed: #c2e8fc;
$tertiary-fixed-dim: #a6ccdf;

// Surface
$surface: #0f1512;
$surface-bright: #343b37;
$surface-container: #1b211e;
$surface-container-high: #252b28;
$surface-container-highest: #303633;
$surface-container-low: #171d1a;
$surface-container-lowest: #0a0f0d;
$surface-dim: #0f1512;
$surface-variant: #404944;

// Error
$error: #ffb4ab;
$error-container: #93000a;

// Outline
$outline: #89938d;
$outline-variant: #404944;

// Inverse
$inverse-primary: #1d6b50;
$inverse-surface: #dee4df;
$inverse-on-surface: #2c322e;

// Others
$shadow: #000000;
$scrim: #000000;
$source-color: #91ae9f;

