.icon-thin { font-family: "Phosphor-Thin"; }
.icon-light { font-family: "Phosphor-Light"; }
.icon-regular { font-family: "Phosphor"; }
.icon-bold { font-family: "Phosphor-Bold"; }
.icon-fill { font-family: "Phosphor-Fill"; }
.icon-duotone { font-family: "Phosphor-Duotone"; }

