.settings {
    padding-left: 10px;
    background-color: transparent;

    .container {
        padding: 10px;
        border-radius: 20px;

        color: $foreground;
        background-color: $base00;

        font-size: 14px;
        font-weight: normal;
        font-family: 'Poppins', 'OpenMoji';
    }
}

