.menu {
    border: none;
    background-color: transparent;

    .separator {
        border: none;
        margin: 0px 50px;
        min-height: 1px;
        background-color: $base02;
    }

    .row {
        background-color: $base01;
        padding: 15px 15px;
    }
}


// Menu components styles
@import './components/slider.scss';
@import './components/controls.scss';
@import './components/wifi-list.scss';
@import './components/player.scss';

