[submodule "vim/everforest"]
	path = vim/data/pack/colors/opt/everforest
	url = https://github.com/sainnhe/everforest.git
[submodule "vim/vim-polyglot"]
	path = vim/data/pack/colors/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
