[submodule "vim/everforest"]
	path = vim/data/pack/colors/opt/everforest
	url = https://github.com/sainnhe/everforest.git
[submodule "vim/vim-polyglot"]
	path = vim/data/pack/colors/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "vim/VimCompletesMe"]
	path = vim/data/pack/general/start/VimCompletesMe
	url = https://github.com/ackyshake/VimCompletesMe.git
[submodule "vim/vim-surround"]
	path = vim/data/pack/general/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/vim-repeat"]
	path = vim/data/pack/general/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/vim-lsc"]
	path = vim/data/pack/general/start/vim-lsc
	url = https://github.com/natebosch/vim-lsc.git
[submodule "vim/syntastic"]
	path = vim/data/pack/general/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vim/vim-gitgutter"]
	path = vim/data/pack/general/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/nerdcommenter"]
	path = vim/data/pack/general/start/nerdcommenter
	url = https://github.com/preservim/nerdcommenter.git
[submodule "vim/lexima.vim"]
	path = vim/data/pack/general/start/lexima.vim
	url = https://github.com/cohama/lexima.vim.git
