###  ╦═╗┬ ┬┬  ┌─┐┌─┐
###  ╠╦╝│ ││  ├┤ └─┐
###  ╩╚═└─┘┴─┘└─┘└─┘


####################
# # # Floating
for_window {
    [app_id="firefox" title="Firefox — Sharing Indicator"] floating enable

    [class="^steam$"] floating enable
    [class="^discord$"] floating enable
}


####################
# # # Automatic close
for_window {
    [class="^steam$" title="^Steam - News$"] kill
    [class="^steam$" title="^Ofertas especiais$"] kill
}


# vim: ft=swayconfig nospell
