.slider {
    .icon {
        color: $base06;
    }

    .bar {
        background-color: $base01;

        & trough {
            border: none;
            margin: 0px;
            padding: 0px;
            border-radius: 15px;
            background-color: $background;
        }

        & highlight {
            border: none;
            margin: 0px;
            padding: 5px;
            border-radius: 15px;
            background-color: $base08;
        }

        & slider {
            margin: 0px;
            min-width: 0px;
            min-height: 0px;
            border-width: 0px;
        }
    }
}

