.wallpapers-list {
    padding: 10px;
    border-left: 1px solid $base03;
    background-color: $base00;

    overshoot {
        background-image: radial-gradient(circle at center, $base0B, transparent);
    }

    scrollbar trough,
    scrollbar slider {
        border: none;
        min-width: 0px;
        min-height: 0px;
    }

    .image {
        border: 1px solid $base05;
        padding: 10px;
    }
}

