.bar {
    color: $foreground;
    background-color: $background;

    padding: 7px;

    font-size: 14px;
    font-weight: normal;
    font-family: 'Poppins';
}

.menu-button {
    & .icon {
        font-size: 28px;
        margin-left: -14px;

    }
}


@import './battery.scss';
@import './clock.scss';
@import './indicator.scss';
@import './tray.scss';
@import './workspaces.scss';

