.bar {
    color: $foreground;
    background-color: $background;

    padding: 7px;

    font-size: 14px;
    font-weight: normal;
    font-family: 'Poppins';
}


@import './battery.scss';
@import './clock.scss';

