.bar {
    color: $primary;
    background-color: $surface;

    padding: 5px;

    font-size: 14px;
    font-weight: normal;
    font-family: "Poppins", "IosevkaJ0ng4b Nerd Font Mono";
}

.bar-component {
    border-radius: 5px;
    background-color: $surface-container;

    &:hover {
        background-color: $surface-variant;
    }

    & > box {
        padding: 2px 10px;
    }
}

// Bar components styles
@import "./systray.scss";
@import "./indicator.scss";

