.systray {
    background-color: $background;
    padding: 5px 10px;

    window decoration {
        box-shadow: none;
    }

    menu {
        color: $foreground;
        background-color: transparent;

        separator {
            margin-right: 25px;
            margin-left: 25px;
            background-color: $foreground;
        }

        menuitem {
            background-color: $color0;
            &:hover {
                box-shadow: none;
                background-color: $foreground;
                color: $color0;
            }
        }
    }
}

