.systray {
    background-color: $background;

    window decoration {
        box-shadow: none;
        border: 2px solid $base02;
    }

    menu {
        color: $foreground;
        background-color: $background;

        separator {
            margin: 0px 40px;
            background-color: $foreground;
        }

        menuitem {
            background-color: $background;

            &:hover {
                box-shadow: none;
                background-color: $foreground;
                color: $background;
            }
        }
    }
}

