.workspaces {
    .entry {
        label {
            margin: -10px 0px;
            font-size: 28px;
            padding: 5px 5px;
        }

        &:hover {
            label {
                padding: 0px;
                font-size: 40px;
                margin: -18px 0px;
            }
        }
    }

    // Should define classes always in this order
    .occupied {
        color: $color4;
    }

    .empty {
        color: rgba($color0, 0.35);
    }

    .current {
        color: $color3;
    }
}

