.workspaces {
    padding: 10px;
    background-color: $base02;
    border-radius: 10px;
}

.workspace {
    background-color: $base04;
    min-width: 12px;
    min-height: 30px;

    border-radius: 5px;

    &.current {
        background-color: $base0B;
        min-height: 30px;
    }

    &.empty {
        background-color: $base03;
        min-height: 10px;
    }
}

