.corner {
    padding: 30px;
    border-radius: 100%;
    background-color: transparent;
}

.corner-left {
    box-shadow: -26px -26px 0 0 $background;
    background-color: transparent;
}

.corner-right {
    box-shadow: 26px -26px 0 0 $background;
    background-color: transparent;
}

