.control {
    .icon {
        color: $base0B;
        border-radius: 10px;
        background-color: $base02;

        padding: 10px;

        font-size: 56px;
        font-weight: normal;
        font-family: 'Phosphor';

        &.expanded {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    .label {
        color: $base04;
        font-size: 16px;

        &.expanded { color: $base0B; }
    }

    .padding {
        background-color: $base02;
    }
}

.control-menu {
    padding: 10px;
    border-radius: 10px;
    background-color: $base02;

    &.left { border-top-left-radius: 0; }
    &.right { border-top-right-radius: 0; }
}

.separator {
    .layer-1 { background-color: $base02; }
    .layer-2 { background-color: $base00; }

    .layer-2-left {
        background-color: $base00;
        border-bottom-left-radius: 100%;
    }

    .layer-2-right {
        background-color: $base00;
        border-bottom-right-radius: 100%;
    }
}

.slider {
    .icon {
        color: $base04;
        font-size: 24px;
    }

    .bar {
        background-color: $base00;

        & trough {
            border: none;
            margin: 0px;
            padding: 0px;
            border-radius: 15px;
            background-color: $base01;
        }

        & highlight {
            border: none;
            margin: 0px;
            padding: 7px;
            border-radius: 15px;
            background-color: $base0B;
        }

        & slider {
            margin: 0px;
            min-width: 0px;
            min-height: 0px;
            border-width: 0px;
        }
    }
}

