.control {
    .icon {
        color: $base0B;
        border-radius: 10px;
        background-color: $base02;

        padding: 10px;

        font-size: 56px;
        font-weight: normal;
        font-family: 'Phosphor';

        &.expanded {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    .label {
        color: $base04;
        font-size: 16px;

        &.expanded { color: $base0B; }
    }

    .padding {
        background-color: $base02;
    }
}

.control-menu {
    padding: 10px;
    border-radius: 10px;
    background-color: $base02;

    &.left { border-top-left-radius: 0; }
    &.right { border-top-right-radius: 0; }
}

.control-menu .wifi-list {
    overshoot {
        background-image: radial-gradient(circle at center, $base0B, transparent);
    }

    scrollbar,
    scrollbar trough {
        border: none;
        min-width: 0px;
        min-height: 0px;
        background-color: transparent;
    }

    scrollbar slider {
        border: none;
        min-width: 2px;
        min-height: 0px;
        background-color: $base0B;
    }

    .wifi {
        &:hover {
            border-radius: 10px;
            background-color: $base04;
        }

        .box {
            padding: 5px 10px;

            .state { font-size: 18px; }
            .ssid { font-size: 16px; }
        }
    }
}

.control-menu .wifi-interface-selector {
    padding: 5px;
    margin: 0px -10px -10px -10px;
    background-color: $base02;
    border-radius: 10px;
    box-shadow: 0px -2px 5px $base01;

    .interface {
        padding: 5px;
        border-radius: 10px;

        &:hover {
            background-color: $base03;
        }
    }

    expander {
        arrow {
            color: $base0B;
            min-height: 20px;
            min-width: 20px;
        }
    }
}

.separator {
    .layer-1 { background-color: $base02; }
    .layer-2 { background-color: $base00; }

    .layer-2-left {
        background-color: $base00;
        border-bottom-left-radius: 100%;
    }

    .layer-2-right {
        background-color: $base00;
        border-bottom-right-radius: 100%;
    }
}

.slider {
    .icon {
        color: $base04;
        font-size: 24px;
    }

    .bar {
        background-color: $base00;

        & trough {
            border: none;
            margin: 0px;
            padding: 0px;
            border-radius: 15px;
            background-color: $base01;
        }

        & highlight {
            border: none;
            margin: 0px;
            padding: 7px;
            border-radius: 15px;
            background-color: $base0B;
        }

        & slider {
            margin: 0px;
            min-width: 0px;
            min-height: 0px;
            border-width: 0px;
        }
    }
}

