.control-center {
    background-color: transparent;
}

.control-center-box {
    padding: 10px;
    border-radius: 20px;

    color: $foreground;
    background-color: $base00;

    font-size: 14px;
    font-weight: normal;
    font-family: 'Poppins', 'OpenMoji';
}

@import './controls.scss';
@import './profile.scss';
@import './notification.scss';

