.profile {
    padding: 10px;
    border-radius: 10px;
    background-color: $base02;

    .pic {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
    }

    .name {
        font-size: 18px;
        font-weight: bold;
        color: $base05;
    }

    .uptime {
        font-size: 14px;
        font-weight: bold;
        color: $base09;
    }
}

