//
//                       ███╗   ██╗██╗██████╗ ██╗
//                       ████╗  ██║██║██╔══██╗██║
//                       ██╔██╗ ██║██║██████╔╝██║
//                       ██║╚██╗██║██║██╔══██╗██║
//                       ██║ ╚████║██║██║  ██║██║
//                       ╚═╝  ╚═══╝╚═╝╚═╝  ╚═╝╚═╝
//
//
//              ██████╗ ██████╗ ███╗   ██╗███████╗██╗ ██████╗
//             ██╔════╝██╔═══██╗████╗  ██║██╔════╝██║██╔════╝
//             ██║     ██║   ██║██╔██╗ ██║█████╗  ██║██║  ███╗
//             ██║     ██║   ██║██║╚██╗██║██╔══╝  ██║██║   ██║
//             ╚██████╗╚██████╔╝██║ ╚████║██║     ██║╚██████╔╝
//              ╚═════╝ ╚═════╝ ╚═╝  ╚═══╝╚═╝     ╚═╝ ╚═════╝
//


////////////////////////////////////////////////////////////////////////////////
//  ╔═╗┌─┐┌┐┌┌─┐┬─┐┌─┐┬
//  ║ ╦├┤ │││├┤ ├┬┘├─┤│
//  ╚═╝└─┘┘└┘└─┘┴└─┴ ┴┴─┘
////////////////////////////////////////////////////////////////////////////////

// ask the applications to omit their client-side decorations
prefer-no-csd


hotkey-overlay {
    // disable hotkeys on startup
    skip-at-startup

    // hide all actions not bound to any key (only on next release)
    hide-not-bound
}

// cursor setup
cursor {
    // theme and size
    xcursor-size 28
    xcursor-theme "default"

    // hide conditions
    hide-after-inactive-ms 5000
}

overview {
    zoom 0.45

    // disable workspace shadow
    workspace-shadow { off; }
}

recent-windows {
    // off
    debounce-ms 750

    open-delay-ms 150

    highlight {
        active-color "#999999ff"
        urgent-color "#ff9999ff"
        padding 20
        corner-radius 15
    }

    previews {
        max-height 300
        max-scale 0.4
    }

    binds {
        Mod+Tab         { next-window; }
        Mod+Shift+Tab   { previous-window; }
    }
}

environment {
    QT_QPA_PLATFORM "wayland"
    MOZ_ENABLE_WAYLAND "1"
    _JAVA_AWT_WM_NONREPARENTING "1"
}


////////////////////////////////////////////////////////////////////////////////
//  ╔═╗┬ ┬┌┬┐┌─┐┌─┐┌┬┐┌─┐┬─┐┌┬┐
//  ╠═╣│ │ │ │ │└─┐ │ ├─┤├┬┘ │
//  ╩ ╩└─┘ ┴ └─┘└─┘ ┴ ┴ ┴┴└─ ┴
////////////////////////////////////////////////////////////////////////////////

// start some processes
spawn-at-startup "~/.config/niri/scripter" "autostart"


include "output.kdl"
include "input.kdl"
include "layout.kdl"
include "rules.kdl"
include "binds.kdl"
include "animations.kdl"

