////////////////////////////////////////////////////////////////////////////////
//  ╦┌┐┌┌─┐┬ ┬┌┬┐
//  ║│││├─┘│ │ │
//  ╩┘└┘┴  └─┘ ┴
////////////////////////////////////////////////////////////////////////////////

input {
    keyboard {
        numlock

        xkb {
            layout "br,us"
        }
    }

    touchpad {
        tap
        dwt
        natural-scroll
    }

    // move focus when mouse moves
    focus-follows-mouse max-scroll-amount="0%"

    // repeating workspace command switch back to prior workspace
    workspace-auto-back-and-forth
}

