////////////////////////////////////////////////////////////////////////////////
//  ╔═╗┬ ┬┌┬┐┌─┐┬ ┬┌┬┐
//  ║ ║│ │ │ ├─┘│ │ │
//  ╚═╝└─┘ ┴ ┴  └─┘ ┴
////////////////////////////////////////////////////////////////////////////////

output "eDP-1" {
    scale 1.13
    position x=0 y=0
}

