.infocenter {
    color: $primary;
    border-radius: 10px;
    background-color: blue;
    padding: 5px;
    font-family: "Poppins", "IosevkaJ0ng4b Nerd Font Mono";

    .infocenter-header {
        border-radius: 8px 8px 0px 0px;
        background-color: magenta;

        .calendar-month {
            font-size: 22px;
            color: $secondary;
            padding: 16px 16px 8px;
            margin-left: -25px;
        }

        .calendar-year {
            font-size: 16px;
            color: $secondary;
            padding: 16px 16px 8px;
            margin-top: 22px;
            margin-left: 65px;
        }

        .calendar-day-names {
            font-weight: bold;
            font-size: 14px;
            color: burlywood;
            padding: 5px 5px;
        }

        .calendar-month-controller-box {
            padding: 5px;

            .calendar-month-controller {
                color: green;
                font-size: 20px;
                border-radius: 50%;

                &:hover {
                    font-size: 16px;

                    label {
                        padding: 2px;
                    }
                }

                &:active {
                    color: cyan;
                }
            }
        }
    }

    calendar {
        box-shadow: inset 0px 6px 10px -15px black;
        border-radius: 0px 0px 8px 8px;
        border-color: white;
        color: green;
        background-color: purple;
        padding: 0.2em;

        &:selected {
            border-radius: 0px;
            box-shadow: inset 0px 0px 6px 0px peru;
            color: olivedrab;
        }

        &:indeterminate {
            font-weight: normal;
            color: coral;
        }
    }
}

